<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <style>
        h4 {
            margin-top: 15px;
            margin-bottom: 10px;
            margin-left: 15px;
            margin-right: 15px;
            font-weight: bold;
        }

        hr {
            margin: 2px 10px;
        }

        .title {
            padding: 0px 20px;
            margin-top: 50px;
        }

        .title h5 {
            margin-bottom: -10px;
        }

        iframe {
            border: 0;
            width: 100%;
            height: 1000px;
        }

        .input-group {
            margin: 0px 10px;
            width: 44%;
        }

        .form-floating {
            margin: 0px 10px;
        }

        .form-control:disabled,
        .form-control[readonly] {
            background-color: #fafafa;
            opacity: 1;
        }

        .fa {
            margin-right: 10px;
        }

        @media screen and (max-width: 768px) {

            .btn-edit .btn-label,
            .btn-save .btn-label,
            .btn-done .btn-label,
            .btn-workflow .btn-label {
                display: none;
            }

            .btn-edit .fa,
            .btn-save .fa,
            .btn-done .fa,
            .btn-workflow .fa {
                margin: 5px 10px;
                font-size: 1.5rem;
            }

            .btn-edit,
            .btn-save,
            .btn-done,
            .btn-workflow {
                margin-left: 10px;
            }
        }
    </style>
</head>

<body>
    <h4> ZX_LABTEST</h4>

    <div id="divCrtr">
        <div class="input-group mb-3" style="width: calc(100% - 20px);">
            <input id="ipKeyedName" type="text" class="form-control" placeholder="Search..." aria-label="Search..."
                aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="btnExpand" data-bs-toggle="collapse"
                data-bs-target="#searachDetail" aria-expanded="true" aria-controls="searachDetail"><i
                    class="fa fa-chevron-down"></i></button>
            <button class="btn btn-outline-secondary" type="button" id="btnSearch"><i class="fa fa-search"></i></button>
        </div>
        <div class="accordion-item">
            <div id="searachDetail" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="display: flex; flex-wrap: wrap;">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px;">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
                <i class="fa fa-chevron-down" style="float: right;" data-bs-toggle="collapse"
                    data-bs-target="#listDetail" aria-expanded="true" aria-controls="listDetail"></i>
                <div id="listDetail" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <strong>asdasdasdasdasdasdasd asda sda sda sd asdasd</strong>
                    <strong>asdasdasdasdasdasdasd asda sda sda sd asdasd</strong>
                    <strong>asdasdasdasdasdasdasd asda sda sda sd asdasd</strong>
                    <strong>asdasdasdasdasdasdasd asda sda sda sd asdasd</strong>
                    <strong>asdasdasdasdasdasdasd asda sda sda sd asdasd</strong>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small class="text-muted">And some muted small print.</small>
            </a>
        </div>
    </div>



    <script src="/js/common.js"></script>
    <script src="/js/field.js"></script>
    <script src="/js/fileUtil.js"></script>
    <script>
        window.onload = async () => {
            await loadCriteria();
        }
        async function loadCriteria(){
            let result = await getRes('/criteria/' + sessionStorage.itemTypeId);
			console.log(result);
            /*
            {
   "status":200,
   "data":[
      {
         "sort_order":"3072",
         "name":"name",
         "label":"nameName",
         "data_type":"string",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"3200",
         "name":"_string",
         "label":"String",
         "data_type":"string",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"3328",
         "name":"_text",
         "label":"Text",
         "data_type":"text",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"3456",
         "name":"_integer",
         "label":"Integer",
         "data_type":"integer",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"3584",
         "name":"_float",
         "label":"Float",
         "data_type":"float",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"3712",
         "name":"_decimal",
         "label":"Decimal",
         "data_type":"decimal",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"3840",
         "name":"_boolean",
         "label":"Boolean",
         "data_type":"boolean",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"3968",
         "name":"_date",
         "label":"Date",
         "data_type":"date",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"4096",
         "name":"_image",
         "label":"Image",
         "data_type":"image",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"4224",
         "name":"_list",
         "label":"List",
         "data_type":"list",
         "data_source":"AEABAF4DEB014B0D8395C70D68221011",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"4352",
         "name":"_list2",
         "label":"List2",
         "data_type":"list",
         "data_source":"78420019479540788F4FBF67F02415CA",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"4480",
         "name":"_fileter_list",
         "label":"Filter List",
         "data_type":"filter list",
         "data_source":"78420019479540788F4FBF67F02415CA",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"4608",
         "name":"_item",
         "label":"Item",
         "data_type":"item",
         "data_source":"E0AEEF9EB7E04B13B901A867E77B4FB1",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"4736",
         "name":"_foreign",
         "label":"Foreign",
         "data_type":"foreign",
         "data_source":"54A05BFA78A1465B8689DE4850058678",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"4864",
         "name":"_foreign2",
         "label":"Foreign2",
         "data_type":"foreign",
         "data_source":"54A05BFA78A1465B8689DE4850058678",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"4992",
         "name":"_foreign3",
         "label":"Foreign3",
         "data_type":"foreign",
         "data_source":"54A05BFA78A1465B8689DE4850058678",
         "is_hidden":"0",
         "is_hidden2":"0"
      },
      {
         "sort_order":"5120",
         "name":"_file",
         "label":"File",
         "data_type":"item",
         "data_source":"8052A558B9084D41B9F11805E464F443",
         "is_hidden":"0",
         "is_hidden2":"0"
      }
   ]
}
            */
        }
    </script>
</body>

</html>